<h1>
	<img style="vertical-align:middle" src="<%- logo.src %>" width="<%- logo.width %>px" height="<%- logo.height %>px"/>
    <%- app_text.title %>
	<small> - <%- app_text.subtitle %></small>
	<span class="u-pull-right" style="color:#999999"><small>beta</small></span>
</h1>
