<h1>
	<img style="vertical-align:middle" src="<%- logo.src %>" width="<%- logo.width %>px" height="<%- logo.height %>px"/>
    <%- appText.title %>
	<small> - <%- appText.subtitle %></small>
	<span class="u-pull-right">
		<span id="feedStatus" class="badge">loading</span>
		<button id="feedControl" class="button button-sm" disabled style="min-width:6.5rem;">Pause</button>
	</span>
</h1>
